/* Удаление отступов и полей у body */
body {
    margin: 0;
    padding: 0;
}

/* Настройка основного контейнера */
#page-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/* Установка глобального box-sizing */
* {
    box-sizing: border-box;
}

/* Увеличение размеров шрифтов */
.fs0 {
    font-size: 130px; /* Было 99.148400px */
}

.fs1 {
    font-size: 60px; /* Было 47.820800px */
}

.fs2 {
    font-size: 80px; /* Было 68.861600px */
}

/* Изменение трансформаций масштабирования */
.m0 {
    transform: matrix(0.5, 0, 0, 0.5, 0, 0);
    -ms-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
    -webkit-transform: matrix(0.5, 0, 0, 0.5, 0, 0);
}

.m1 {
    transform: matrix(2, 0, 0, 2, 0, 0);
    -ms-transform: matrix(2, 0, 0, 2, 0, 0);
    -webkit-transform: matrix(2, 0, 0, 2, 0, 0);
}

/* Удаление отступов и полей у других элементов */
.pf, .pc, .t, .d {
    margin: 0;
    padding: 0;
}

/* Дополнительные изменения для уменьшения белого пространства */
.t {
    /* Пример: Увеличение высоты линии */
    line-height: 1.2;
}
